.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1ac8eb;
    color: white;
  }
  
  .header-title   
   { 
    margin: 0;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 100.0s ease-in-out;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    margin: 0 10px;
  }
  
  .nav-link a {
    text-decoration: none;
    color: white;
    transition: color 100.0s ease-in-out;
  }
  
  .nav-link a:hover {
    color: #f0f0f0;
  }
  
  .nav-link.active {
    border-bottom: 1px solid black; 
  }
  
  .header-title.active {
    color: black; 
  }

  .h1 {
    text-align: center;
  }